@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('fontawesome/css/all.css');

:root {
    /* --pry-clr: rgb(22, 17, 17); */
    --pry-clr: rgb(10, 46, 75);
    --pry-txt-clr: rgba(10, 46, 75, 0.856);
    /* --sc-clr: rgb(109, 13, 26); */
    --sc-clr: #1C7BB6;
    --alt-clr: #fff;
    --bg1: #fff;
    --alt-bg: rgb(227, 231, 225);
    --alt-bg-2: #F4F5FA;
    --bx-shdw-1: 0px 0px 2px 2px rgba(0,0,0,.3);
    --bx-shdw-1h: 0px 0px 5px 3px rgba(0,0,0,.3);
    --border: 1px solid rgba(0,0,0,.2);
}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: "Poppins", sans-serif;
    background: var(--bg1);
    color: var(--pry-txt-clr);
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
}
article,
aside,
footer,
header,
nav,
section {
    display: block;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
textarea {
    overflow: auto;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    text-transform: none;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--sc-clr);
    position:relative;
	font-weight:normal;
	margin:0px;
	background:none;
	line-height:1.6em;
}
/* 
h1{
    font-size:40px;
}
h2{
    font-size:30px;
}
h3{
    font-size:23px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6{
    font-size:16px;
} */
p{
    font-size:16px;
    line-height: 25px;
}
ul,li{
    list-style:none;
    padding:0;
    margin:0;
}
a, a:hover, a:active, a:focus {
    outline: none;
    border: none;
    text-decoration:none;
    transition: all 0.3s ease 0s;

}
a:-webkit-any-link {
    color: inherit;
}
a:focus, a:hover {
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a.btn1, .btn1 {
    padding: 5px 35px;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid var(--sc-clr);
    cursor: pointer;
    color: var(--sc-clr);
    font-weight: bolder;
    background: transparent;
    box-shadow: var(--bx-shdw-1);
}
a.btn1:hover, .btn1:hover {
    text-decoration: none;
    color: var(--sc-clr);
    padding: 7px 45px;
    border: 1px solid var(--sc-clr);
    box-shadow: var(--bx-shdw-1h);
}
a.btn2, .btn2 {
    padding: 5px 35px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--alt-clr);
    font-weight: bolder;
    background: var(--sc-clr);
    box-shadow: var(--bx-shdw-1);
}
a.btn2:hover, .btn2:hover {
    text-decoration: none;
    color: #fff;
    padding: 7px 45px;
    border: 1px solid var(--sc-clr);
    box-shadow: var(--bx-shdw-1h);
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mt-30 {
    margin: 20px 0;
}
/* .img-con {
    position: relative;
}
.img-con::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
    z-index: -8;
}
.img-con.two::after {
    background: linear-gradient(rgba(0,0,0, .8), rgba(0, 0, 0, .9));
    z-index: 8;
}
.img-con img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    object-fit: cover;
    height: 100%;
    width: 100%;
} */
.container1 {
    padding-left: 10%;
    padding-right: 10%;
}
@media (max-width: 900px ) {
    .container1 {
        padding-left: 5%;
        padding-right: 5%;
    }
}
.flex1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 80px;
}
.flex2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px -40px;
}
.grid1 {
    display: grid;
    grid-gap: -20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid2 {
    display: grid;
    grid-gap: -20px;
    grid-template-columns: 1fr 2fr;
}

@media (max-width: 600px){
    .grid1{
        grid-template-columns: 1fr;
    }
    /* .grid2 {
        grid-template-columns: 1fr;
    }     */
}
/* @media (max-width: 600px){
    .grid2 {
        grid-template-columns: 1fr;
    }    
} */
.section-title {
    margin-bottom: 30px;
    text-align: center;
}
.testimonials{
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}
.section-title p{
    margin: 10px 0px;
    text-align: center;
}
.section-title h2 {
    margin-bottom: 5px;
    border-bottom: 1px solid var(--sc-clr);
}
.standard.top-section {
    padding: 100px 0 0 0;
    margin-bottom: 80px;
    height: auto;
}
.standard.news-top-section,
.standard.member-top-section,
.standard.sfp-top-section{
    padding: 100px 0 0 0;
    margin-bottom: 80px;
    height: auto;
}
.standard.news-top-section h2,
.standard.member-top-section h2,
.standard.sfp-top-section h2{
    font-size: 40px;
    margin-bottom: 80px;
}
.standard.top-section.contact{
    padding: 100px 0 0 0;
    margin-bottom: 40px;
    height: auto;
}
.standard.top-section h2 {
    font-size: 40px;
    margin-bottom: 80px;
}
div.line {
    width: 100%;
    height: 1px;
    background: var(--sc-clr);
    margin: 20px 0;
    
}
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 80px 0;
}
.grid-2 > div {
    padding: 20px;
    box-shadow: var(--bx-shdw-1);
}
@media (max-width: 600px) {
    .grid-2 {
        grid-template-columns: repeat(1, 1fr);
    }
}

.box-1, .box-2 {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    transition: all .25s ease;
    padding: 15px;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    background: var(--bg1)
}
.box-1:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 14px 24px rgba(62,57,107,.2);
}
.small-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 
.small-box-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.small-box-2:hover {
    cursor: pointer;
} 
.small-box-2 p {
    font-size: 30px;
}
.card-title {
    height: 30px;
    border-bottom: var(--border);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 0 5px 0;
    margin-bottom: 10px;
    position: relative;
}
.card-title h3 {
    font-size: 16px;
    color: var(--pry-txt-clr);
}
.card-title::before,
.form-title::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0px;
    height: 3px;
    width: 25px;
    background: var(--sc-clr);
}
.form-title {
    height: 120px;
    border-bottom: var(--border);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 5px 0;
    margin-bottom: 10px;
    position: relative;
}
.form-title h3 {
    font-size: 16px;
    color: var(--pry-txt-clr);
}