/*
================================================
/* Table of Content
================================================
1. General styles
2. Landing Page
    2.1 General styles
    2.2 Login / Signup (animations)
    2.2 Login / Signup (input field)
3. Dashboard Area General Styles
4. Dashboard Account page
    4.1. general
    4.2.account balance
    4.3.account details
    4.4. balance chart
    4.5. cards
    4.6. create new account
    4.7. transactions table
    4.8. general dashboardd panel styles
5. Dashboard New Account page
/* 
@media (max-width: 768px) {
} 
} */


/*
================================================
1. General Styles
================================================
*/

@import url(general.css);

/*
================================================
2. Landing Page
================================================
*/
/*---- 2.2 landing page styles ----*/
.page-wrap {
    -webkit-filter: blur(0);
    filter: blur(0);
    transition: all .5s ease;
}
.my-header {
    -webkit-filter: blur(0);
    filter: blur(0);
}
.show-modal .page-wrap, .show-modal my-header {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.page-wrap::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0, 0), rgba(0, 0, 0, 0));
    z-index: -99;
    transition: all .5s ease;
}
.show-modal .page-wrap::after {
    z-index: 0;
    background: linear-gradient(rgba(0,0,0, .8), rgba(0, 0, 0, .8));
}
sign-modal {   
    z-index: 0;
    opacity: 0;
}
.show-modal sign-modal {
    animation: show 2s ease both;
} 
@keyframes show {
    0% {  
        opacity: 0;
        z-index: 0; 
    }
    100% { 
        opacity: 1;
        z-index: 999; 
    }
}

button.see-all {
    width: 200px;
    margin-top: 30px;
}
/*---- 2.3 Top section ----*/
.top-section-home {
    position: relative;
    height: 80vh;
    /* margin-bottom: 30px; */
}
.carousel-inner > .carousel-item {
	transition: -webkit-transform 3.5 ease-in-out;
	transition: transform 2.5 ease-in-out;
    transition: transform 2.5s ease-in-out,-webkit-transform 2.5s ease-in-out;
}
.carousel-item, .carousel-item img {
	height: 95vh;
	/* z-index: ; */
}
.carousel-item img {
	object-fit: cover;
}
.carousel-caption {
    bottom: 280px;
    background: rgba(0,0,0,.3);
    padding: 20px 0px;
}
.carousel-caption h2 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.carousel-caption p {
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}
.carousel-caption h2 span{
    color: #fff;
}
.carousel-caption h3 {
    font-size: 30px;
    font-weight: bold;
    color: var(--alt-clr);
}

@media (max-width: 400px) {
	.carousel-item, .carousel-item img {
		height: 80vh;
	}
	.carousel-caption {
		bottom: 250px;
    }
    .carousel-caption h2 {
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .carousel-caption h3 {
        font-size: 18px;
        font-weight: bold;
        color: var(--alt-clr);
    }
	
}
@media (min-width: 400px) and (max-width: 768px) {
	.carousel-item, .carousel-item img {
        height: 80vh;
    }
    .carousel-caption {
        bottom: 150px;
		padding-bottom: 20px;
    }
    .carousel-caption h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .carousel-caption h3{
		font-size: 22px;
    }
    .carousel-caption p a{
		padding: 5px 10px;
	}
    .search h2{
        margin-top: 400px;
        margin-bottom: 400px;
        font-size: 15px;
        color: var(--sc-clr);
    }
}
@media (min-width: 1024px) and (max-width: 1366px){
    .carousel-caption {
        bottom: 400px;
        background: rgba(0,0,0,.3);
        padding: 20px 0px;
    }
	.carousel-item, .carousel-item img {
		height: 90vh;
    }
    .search h2{
        font-size: 25px;
        color: var(--sc-clr);
    }
    .top-section-home {
        height: 85vh;
    }
}
.img-con {
	position: relative;
}
.img-con::after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	height: 100%;
    width: 100%;
    background: linear-gradient(rgba(43, 78, 74, .3), rgba(1, 1, 17, 0));
	z-index: 0;
}
.img-con.two::after {
    /* background: linear-gradient(rgba(0,0,0, .8), rgba(0, 0, 0, .9)); */
	z-index: 0;
	color: rgba(87, 49, 49, 0.6);
}
.img-con img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.top-section h2 {
    color: var(--alt-clr);
}
.popular-categories h2{
    text-align: center;
    max-width: 100%;
    margin: 20px 0px;
    font-size: 30px;
    color: var(--sc-clr);
}
.popular-categories p:hover{
    color: var(--alt-clr);
}
.popular-categories {
    position: absolute;
    top: 78vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: transparent;
    z-index: 1;
}
.popular-categories ul{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 150px;
    grid-gap: 5px;
    padding: 10px;
    background: var(--alt-clr);
    border-radius: 2px;
    width: auto;
    text-align: center;
    justify-content: center;
}
.popular-categories a {
    width: 100%;
    height: 100%;
    border: 1px solid var(--sc-clr);
    border-radius: 3px;
    box-shadow: var(--bx-shdw-1);
    transition: all .5s ease;
}
.popular-categories a:hover {
    box-shadow: 0px 0px 3px 3px var(--sc-clr);
    text-decoration: none;
    color: unset;
}
.popular-categories i {
    font-size: 30px;
    color: var(--sc-clr);
    margin: 30px 0;
}
@media (max-width: 768px) {
    .top-section-home {
        height: 120vh;
    }
    .popular-categories ul{
        grid-template-columns: 200px;
        grid-template-rows: repeat(3, 150px);

    }
} 
@media (max-width: 736px) {
    .carousel-caption {
        bottom: 80px;
		padding-bottom: 20px;
    }
}
@media (max-width: 812px) {
    .top-section-home {
        height: 4vh;
    }
}
@media (min-width: 1280px) {
    .carousel-caption {
        bottom: 280px;
		padding-bottom: 20px;
    }
    .top-section-home {
        height: 90vh;
        margin-bottom: 30px;
    }
} 
/* @media (min-width: 768px) {
    .carousel-caption {
        bottom: 400px;
		padding-bottom: 20px;
    }
    .top-section-home {
        height: 88vh;
        margin-bottom: 20px;
    }
}  */
@media (min-width: 1280px) {
    .carousel-caption {
        bottom: 210px;
		padding-bottom: 20px;
    }
    .top-section-home {
        height: 88vh;
        margin-bottom: 15px;
    }
    .carousel-caption h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .carousel-caption h3{
		font-size: 22px;
    }
} 
@media (max-width: 823px) {
    .carousel-caption {
        bottom: 280px;
		padding-bottom: 20px;
    }
    .top-section-home {
        height: 120vh;
        /* margin-bottom: 20px; */
    }
}
@media (max-width: 600px) {
    .carousel-caption {
        bottom: 120px;
		padding-bottom: 20px;
    }
    .top-section-home {
        height: 130vh;
    }
    /* .specilazation-section .inner-content,
    .specilazation-section .sec-title-two{
	    position:relative;
	    margin-left:10px;
    } */
}
@media (max-width: 568px) {
    .carousel-caption {
        bottom: 90px;
		padding-bottom: 20px;
    }
    .top-section-home {
        height: 135vh;
    }
    /* .specilazation-section .inner-content,
    .specilazation-section .sec-title-two{
	    position:relative;
	    margin-left:10px;
    } */
}
/* Professional Courses */
/*** 

====================================================================
	Specilazation Section
====================================================================

***/

.sec-title-two{
    position:relative;
    margin-top: 25vh;
	margin-bottom:22px;
}

.sec-title-two h2{
	position:relative;
	font-weight:700;
	font-size:30px;
	color:#ffffff;
	line-height:1.2em;
	display:inline-block;
}

.sec-title-two h2:after{
	position:absolute;
	content:'';
	left:105%;
	bottom:4px;
	width:35px;
	height:2px;
	background-color:var(--sc-clr);
}

.specilazation-section{
	position:relative;
    padding:100px 0px 60px;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0, 0, 0, 0.5)), url("/UI/assets/images/slider/interior-1944348_1920.jpg");
	background-position:left cover;
	background-repeat:no-repeat;
    background-color:#4d4f5b;
    display: flex;
    justify-content: space-around;
}
.specilazation-section .inner-content,
    .specilazation-section .sec-title-two{
        position:relative;
        margin-left:15px;
    }

.specilazation-section .inner-content .big-text{
	position:relative;
	font-size:22px;
	color:#ffffff;
	font-weight:3000;
	margin-bottom:10px;
}

.specilazation-section .inner-content .text{
	position:relative;
	font-size:16px;
	color:#ffffff;
	margin-bottom:40px;
	max-width:1050px;
}

.services-outer{
	position:relative;
	max-width:720px;
}

.specilazation-block{
    position:relative;
}

.specilazation-block:nth-child(2),
.specilazation-block:nth-child(3){
	text-align:center;
}

.specilazation-block .inner{
	position:relative;
	border-right:1px solid rgba(255,255,255,0.20);
}

.specilazation-block .inner .inner-most{
	position:relative;
	text-align:center;
	display:block;
}

.specilazation-block .inner .icon-box{
	position:relative;
	color: var(--sc-clr);
	font-size:60px;
	line-height:1em;
    margin-bottom:15px;
    text-align: center;
}

.specilazation-block .inner h3{
	position:relative;
	font-size:15px;
	font-weight:600;
	letter-spacing:1px;
	text-transform:uppercase;
}

.specilazation-block .inner h3 a{
	position:relative;
	color:#ffffff;
}

.specilazation-block .inner h3 a:hover{
	text-decoration:underline;	
}

.specilazation-block.style-two .inner h3 a{
	color:#242424;
}

.specilazation-block:last-child .inner{
	border:none;
}
/*---- 2.4 Featured Courses ----*/
.courses-cont-bg{
    margin-bottom: 40px;
    margin-top: 40px;
}
.courses-cont-bg p{
    text-align: center;
    margin: 10px 0;
}
.owl-slider{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.item{
    width: 100%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
}
/*---- 2.6 events and news----*/
.events {
    display: flex;
    align-items: center;
    height: 300px;
    position: relative;
    margin: 100px 0px;
}
.news-img {
    width: 60%; height: 350px;
    background: url('../images/slider/world\ fm.jpeg') top fixed;
    background-size: cover;
}
.event-img {
    width: 60%; height: 350px;
    background: url('../images/slider/world\ fm.jpeg') center fixed;
    background-size: cover;
}
.event-desc {
    position: absolute; right: 100px;
    height: auto; width: 50%;
    text-align: center;
    padding: 40px;
    background: #fff;
    box-shadow: rgba(0,0,0,.5) 1px 1px 15px ;
}
.event-desc{
    margin-bottom: 20px;
}
.event-desc p{
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 16px;
}
@media (max-width: 990px) {
    .events {
        height: auto;
        display: block;
        margin-top: 200px;
    }

    .event-img {
        width: 100%;
        height: 450px;
    }

    .event-desc {
        width: 80%;
        margin: 0 auto;
        top: -150px;
        left: 10%;
    }
    span.cut {
        display: none;
    }
}
@media (max-width: 400px) {
    .abt-desc {
        width: 90%;
        margin: 0 auto;
        left: 5%;
    }
    span.cut2 {
        display: none;
    }
}
/*** 

====================================================================
	Testimonial Section
====================================================================

***/

.testimonial-section{
	position:relative;
    padding:90px 0px 120px;
    background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0, 0, 0, 0.3)), url("/UI/assets/images/team/background.jpg");
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}

.testimonial-section:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:rgba(35,41,50,0.80);
}

.testimonial-block-one{
	position:relative;
}

.testimonial-block-one .inner-box{
	position:relative;
	text-align:center;
}

.testimonial-block-one .inner-box .quote-icon{
	position:relative;
	color:#1C7BB6;
	font-size:28px;
	margin-bottom:40px;
}

.testimonial-block-one .inner-box .text{
	position:relative;
	color:#ffffff;
	font-size:20px;
	line-height:1.6em;
	font-weight:400;
	font-style:italic;
	max-width:1100px;
	margin:0 auto;
	margin-bottom:25px;
	margin-top:30px;
}

.testimonial-block-one .inner-box .author-name{
	position: relative;
	width:100%;
	text-align:center;
	line-height:1em;
	font-size:12px;
	font-weight:700;
	letter-spacing:1px;
	color:#1C7BB6;
	text-transform:uppercase;
}

.testimonial-section .client-thumb-outer{
	position:relative;
	max-width:250px;
	margin:0 auto;
	overflow:hidden;
	padding-top:22px;
	padding-bottom:35px;
}

.testimonial-section .client-thumb-outer .thumb-item .quote-icon{
	position:absolute;
	left:50%;
	bottom:-35px;
	color:#ffffff;
	width:44px;
	height:44px;
	font-size:14px;
	z-index:999;
	opacity:0;
	margin-left:-22px;
	line-height:44px;
	border-radius:50%;
	background-color:#1C7BB6;
}

.testimonial-section .client-thumb-outer .owl-item.active .thumb-item .quote-icon{
	opacity:1;
}

.testimonial-section .client-thumb-outer .owl-item.active .thumb-item .thumb-box{
	z-index:999;
	-o-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
}

.testimonial-section .client-thumb-outer .client-thumbs-carousel{
	position: relative;
    max-width: 80px;
    margin: 0 auto;
	text-align:center;
}

.testimonial-section .client-thumb-outer .client-thumbs-carousel .owl-stage-outer{
	overflow:visible;
}

.testimonial-section .client-thumb-outer .thumb-item .thumb-box{
	width:80px;
	height:80px;
	cursor:pointer;
	border-radius:50%;
	margin: 0 auto;
	z-index:-1;
	overflow:hidden;
	-o-transform: scale(0.8, 0.8);
	-ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;	
}

.testimonial-section .client-thumb-outer .owl-item{
	z-index:0;	
}

.testimonial-section .client-thumb-outer .owl-item.active{
	z-index:10;	
}

.testimonial-section .client-thumb-outer .thumb-item .thumb-box:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:block;
	z-index:1;
	background-color:rgba(255,255,255,0.50);
}

.testimonial-section .client-thumb-outer .owl-item.active .thumb-box:before{
	opacity:0;
}

.testimonial-section .client-thumb-outer .client-thumbs-carousel .thumb-item img{
	overflow:hidden;
	width:100%;
	height:100%;
	display:block;
	border-radius:50%;
}

.testimonial-section .owl-item.active .thumb-content{
	opacity:1;
}

.testimonial-section .owl-nav{
    position: absolute;
    left: 50%;
    top: -90px;
    width: 100%;
    max-width: 710px;
    margin-left: -355px;
}

.testimonial-section .owl-nav .owl-prev,
.testimonial-section .owl-nav .owl-next{
	position:absolute;
	display:inline-block;
	color:#ffffff;
	font-size:20px;
	line-height:40px;
	width:45px;
	height:45px;
	text-align:center;
	border-radius:50%;
	background:none;
	border:2px solid #ffffff;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;	
}

.testimonial-section .owl-nav .owl-prev{
	left:0px;
}

.testimonial-section .owl-nav .owl-next{
	right:0px;
}

.testimonial-section .owl-dots{
	position:absolute;
	right:-80px;
	top:0px;
	display:none;
}

.testimonial-section .owl-dots .owl-dot{
	width:4px;
	height:4px;
	border-radius:50%;
	margin-bottom:8px;
	background-color:#ffffff;
}

.testimonial-section .owl-dots .owl-dot.active{
	position:relative;
	left:-2px;
	width:8px;
	height:8px;
	background:none;
	border:1px solid #ffffff;
}

/*
================================================
3. ABOUT US
================================================
*/
.top-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 150px 0;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .1)), url('../images/slider/network.jpg')no-repeat center/cover fixed; 
    margin-bottom: 170px;
}
.sfp-top-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 150px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba( 13, 160, 201, 0.3)), url('../images/slider/profimage.png')no-repeat bottom; 
    margin-bottom: 170px;
}
.top-section h2,
.news-top-section h2,
.member-top-section h2,
.train-top-section h2,
.sfp-top-section h2{
    color: var(--alt-clr);
}
.who {
    text-align: justify;
}
.what {
    text-align: justify;
}
.abt-img-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6)), url('../images/slider/member.jpg')no-repeat center/cover fixed;
}
.info-img-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.4)), url('../images/slider/globe.jpg')no-repeat center/cover fixed;
}
.abt-img-sec p,
.info-img-sec p {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 10px;
    border-left: 2px solid var(--alt-bg);
    color: var(--alt-clr)
}
.team {
    margin: 80px 0;
}
.members-all {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 250px);
    grid-gap: 30px;
}
.team.container1 {
    background: #f7f7f7;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}
@media (max-width: 600px) {
    .members-all {
        grid-template-columns: repeat(2, 150px);
        grid-gap: 20px;
    }
}
.member {
    text-align: center;
}
.member img {
    box-shadow: var(--bx-shdw-1);
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
p.position{
    text-align: center;
}
p.name{
    text-align: center;
}
/*
================================================
3. All courses Page
================================================
*/
.search-courses {
    text-align: center;
}
.search-courses h2{
    margin-bottom: 5px;
    font-size: 45px;
    /* color: var(--sc-clr); */
}
.search-courses p{
    margin-bottom: 20px;
    color: var(--alt-clr);
    text-align: center;
}
.search-courses form {
    display: grid;
    grid-template-columns: 1fr .6fr;
    grid-gap: 5px;
    margin-bottom: 80px;
}
.search-courses select {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--alt-clr);
    color: var(--alt-clr);
    padding: 10px;
    cursor: pointer;
}
.search-courses select option {
    background: transparent;
    color: var(--pry-clr);
}
.search-courses input[type="submit"] {
    border: 2px solid var(--sc-clr);
    border-radius: 5px;
    color: var(--alt-clr);
    font-weight: 900;
    background: var(--sc-clr);
    margin-left: 20px;
}
.search-courses input[type="text"] {
    border: none;
    border-bottom: 1px solid var(--alt-clr);
    color: var(--alt-clr);
    padding: 10px;
    font-weight: 900;
    background: transparent;
    margin-left: 20px;
    width: 300px;
}
.all-listing {
    padding-top: 80px;
    margin-top: -100px;
}
.listing-results {
    display: flex;
}
.listing-results .sub {
    width: 25%;
}
.listing-results .main {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.listing-results .main .inner {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 25px 50px;
}
@media (max-width: 768px) {
    .listing-results .main .inner {
        grid-template-columns: repeat(1, 250px);
    }
    .listing-results .sub {
        width: 30%;
    }
    .listing-results .main {
        width: 70%;
    }
}
@media (max-width: 500px) {
    .listing-results .main .inner {
        grid-template-columns: repeat(1, auto);
        grid-gap: 0;
    }
    .listing-results .sub {
        display: none
    }
    .listing-results .main {
        width: 100%;
    }
}

.listing-results .modify-box {
    width: 100%;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 2px;
    box-shadow: var(--bx-shdw-1);
    margin-bottom: 20px;
}
.listing-results .modify-box h3 {
    margin-bottom: 10px;
    text-align: center;
}
.listing-results .modify-box ul {
    padding-left: 10px;
    margin-bottom: 3px;
}
.listing-results .modify-box li {
    display: flex;
    justify-content: space-between;
}
.listing-results .modify-box p {
    text-align: left;
}
.listing-results .navigation {
    display: flex;
    padding: 30px 0;
}
.listing-results .navigation p {
    padding: 5px 10px;
}
.listing-results .navigation p:nth-child(1), .listing-results .navigation p:nth-last-child(1)  {
    background: var(--sc-clr);
    color: var(--alt-clr);
}
.modify-box .brochure {
    background-color: var(--sc-clr);
}
.brochure {
    position: relative;
}
.fa-file-pdf-o:before {
    content: "\f1c1";
    color: var(--sc-clr);
    font-size: 40px;
    margin: 0px 120px;
}
.h6 small {
    font-size: 20px;
    line-height: 20px;
    font-weight: inherit;
    margin-left: 68px;
}
.h6 small:hover{
    color: var(--sc-clr);
    text-decoration: underline;
}
.brochure-desc p {
    font-size: 14px;
    line-height: 18px;
    margin-left: 105px;

}
/*---- 2. ----*/

/*
================================================
5. Membership Page
================================================
*/
.member-top-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 150px 0;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .1)), url('../images/slider/businessman-3213659_1920.jpg')no-repeat center; 
    margin-bottom: 170px;
}
.individual h3, 
.individual p {
    text-align: justify;
}
.corporate h3,
.corporate p {
    text-align: justify;
}
.benefits-all {
    padding-left: 15px;
    border-left: 5px solid var(--sc-clr);
}
.benefits-all li {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: .5px solid var(--pry-txt-clr);
    padding: 10px 0;
}
.benefits-all li i {
    margin-right: 15px;
}
p {
    text-align: justify;
}

/*
================================================
3. Dashboard profile page
================================================
*/
.dash-main {
    display: grid;
    grid-template-columns: 200px 1fr;
    background: var(--alt-bg-2);
    padding-top: 80px;
}
/*----- navigation -----*/
.dash-main nav {
    padding: 20px 20px;
    background: var(--pry-txt-clr)
}
.dash-main nav > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dash-main nav .profile-img {
    height: 80px;
    width: 80px;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 1px dashed black;
    background: var(--alt-bg-2);
}
.dash-main .toggle-bar {
    margin-bottom: 80px;
    display: none;
}
.dash-main ul {
    width: 100%;
}
.dash-main li a {
    color: var(--alt-clr);  
    font-size: 20px;
    padding: 10px 0;
    margin: 5px 0;
    display: flex;
    position: relative;
    transition: all .5s ease-in-out;
}
.dash-main li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: var(--alt-clr);
    transition: all .5s ease-in-out;
}
.dash-main li a:hover {
    padding-left: 4px;
}
.dash-main li a:hover::before {
    width: 100%;
}
.dash-main li a.active::before {
    width: 100%;
}
.dash-main li a .text {
    margin-left: 5px;
}
.dash-main .toggle-bar i {
    font-size: 35px;
}
.dash-main nav i {
    color: var(--sc-clr);    
}
/*----- main body -----*/
.dash-body {
    padding-left: 40px;
}
.profile-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
}
.profile-details .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-details .profile-image {
    height: 150px;
    width: 150px;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 1px dashed black;
    background: var(--alt-bg-2);
}
.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 40px;
    margin: 20px 0;
}
.details > p {
    color: var(--txt-clr-1);
    justify-self: start;
}
.details > p:nth-child(even) {
    font-weight: bolder;
    justify-self: start;
    margin-left: 10px;
}
.details > p:nth-child(odd) {
    color: var(--txt-clr-2);
    justify-self: end;
}

/* smaall screen styles */
@media (max-width: 1024px) {
    .dash-main {
        grid-template-columns: 50px 1fr;
    }
    .dash-main nav {
        padding: 0;
    }
    .dash-main nav li a {
        justify-content: center;
    }
    .dash-main nav > div {
        padding: 20px 5px;
    }
    .profile-img {
        display: none;
    }
    nav span.text {
        display: none;
    }
    .dash-main .toggle-bar {
        display: block;
    }
    .dash-body {
        padding-left: 20px;
    }
    .profile-top {
        grid-gap: 40px;
    }
    .dash-main nav i {
        color: var(--alt-bg-2);    
    }
}

/* smaaller screen styles */
@media (max-width: 450px) {
    .dash-body {
        padding-left: 5px;
    }
    .profile-top {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 80px 80px;
        grid-gap: 20px;
    }
    .details {
        grid-template-columns: repeat(1, 1fr);
    }
    .details > p {
        color: var(--pry-txt-clr);
        justify-self: start;
    }
    .details > p:nth-child(even) {
        color: var(--txt-clr-1);
        justify-self: center;
        margin-left: 10px;
    }
    .details > p:nth-child(odd) {
        color: var(--txt-clr-2);
        justify-self: center;
    }
}

/*
================================================
3. Dashboard courses page
================================================
*/
/*----- main body -----*/
.courses-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}
.courses-top h3 {
    font-size: 18px;
}
.courses-details .inner {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 20px;
    margin-bottom: 80px;
}

@media (max-width: 600px) {
    .courses-details .inner {
        grid-template-columns: repeat(1, auto);
        justify-content: center
    }
}
.profile-details .profile-image {
    height: 150px;
    width: 150px;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 1px dashed black;
    background: var(--alt-bg-2);
}
.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 40px;
    margin: 20px 0;
}
.details > p {
    color: var(--txt-clr-1);
    justify-self: start;
}
.details > p:nth-child(even) {
    font-weight: bolder;
    justify-self: start;
    margin-left: 10px;
}
.details > p:nth-child(odd) {
    color: var(--txt-clr-2);
    justify-self: end;
}

/* .dash-body .inner {
} */
/* small screen styles */
@media (max-width: 1024px) {
    .courses-top {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 80px);;
        grid-gap: 10px;
    }
} 
/* smaller screen styles */
@media (max-width: 450px) {
    .courses-top {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 80px);
    }

    .details {
        grid-template-columns: repeat(1, 1fr);
    }
    .details > p {
        color: var(--pry-txt-clr);
        justify-self: start;
    }
    .details > p:nth-child(even) {
        color: var(--txt-clr-1);
        justify-self: center;
        margin-left: 10px;
    }
    .details > p:nth-child(odd) {
        color: var(--txt-clr-2);
        justify-self: center;
    }
} 

/*
================================================
6. Contact us page
================================================
*/
.map{
    padding: 0px 0 10px;
    margin-bottom: 40px;
    
}
.contact {
    margin-bottom: 60px;
    margin-top: 40px;
}
.iframe-map{
    height:304px;
    width:100%;
}
.mapouter{
    position:relative;
    text-align:right;
    height:304px;
    width:100%;
}
.gmap_canvas{
    overflow:hidden;
    background:none!important;
    height:304px;
    width:100%;
}
.tt-reply.wth-label {
    padding: 43px 37px;
    box-shadow: 1px 1px 10px rgba(230, 230, 230, 0.5);
}
.tt-reply {
    background: rgb(247, 247, 247);
    border: 1px solid rgb(238, 238, 238);
    padding: 50px 25px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
/* .col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
} */
span.field-container1{
    position: relative;
}
span{
    vertical-align: baseline;
    margin: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
}
.tt-reply .c-label {
    margin-bottom: 10px;
}
.c-label {
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
}
label {
    display: inline-block;
    max-width: 100%;
    cursor: inherit;
}
.tt-reply .c-input{
    margin-bottom: 20px !important;
}
.field-container1 {
    position: relative;
    height: 55px;
    margin: 5px 0 0;
}
.c-input {
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    color: var(--pry-txt-clr);
    padding: 0px 20px !important;
}
input {
    transition: all 300ms ease-in-out 0s;
    -webkit-appearance: none;
    border-radius: 2px;
    border-style: none;
    margin: 0px;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
.tt-reply .c-area {
    margin-bottom: 20px !important;
}
.c-area {
    width: 100%;
    height: 172px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
}
textarea {
    transition: all 300ms ease-in-out 0s;
    display: block;
    resize: none;
    overflow: auto;
    font: inherit;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.tt-reply.tt-reply.wth-label p{
    margin-bottom: 10px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.c-input:hover,
.c-input:focus,
.c-area:hover,
.c-area:focus {
    box-shadow: var(--bx-shdw-1);
}
#align-btn{
    padding-left: 15px;
}
.tt-location-icon{
    color: var(--sc-clr);
    border: 1px solid var(--sc-clr);
    width: 45px;
    float: left;
    height: 45px;
    font-size: 27px;
    line-height: 42px;
    text-align: center;
    border-radius: 100%;
    margin-bottom: 20px;
}
.row p{
    line-height: 26px;
    font-size: 15px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
.social-icon{
    color:var(--sc-clr);
    width: 45px;
    height: 45px;
    font-size: 27px;
    line-height: 1.5rem;
    display: flex;
    position: relative;
}
.social-icon li{
    margin-left: 40px;
    margin-right: 10px;
}
.address {
    margin: 20px 0px;
    padding: 50px 20px;
} 
@media (max-width: 767px){
    .tt-reply, .tt-reply.wth-label {
        padding: 15px;
    }
}
/* @media (min-width: 768px){
 .col-sm-6 {
    width: 50%;
    float: left;
    }
} */
@media (max-width: 768px) {
    .address {
        text-align: center;
        padding: 20px;
    }
    .social-icon li{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 1024px) {
    .address {
        text-align: center;
        padding: 20px;
    }
    .social-icon li{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.address .addr-box div {
    width: 100%;
}
.addr-box {
    margin-top: 10px;
} 

/* bottom navigation styles  */
.navigation {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px 0;
}
.navigation p {
    padding: 5px 10px;
}
.navigation p:nth-child(1), .navigation p:nth-last-child(1)  {
    background: var(--sc-clr);
    color: var(--alt-clr);
}
/*
================================================
?. Single News page
================================================
*/
.news-top-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 150px 0;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .1)), url('../images/slider/newspapers-4565916_1920.jpg')no-repeat bottom; 
    margin-bottom: 170px;
}
.news-content {
    text-align: center;
}
.news-content img {
    height: 600px;
}
.news-content p {
    margin: 30px 0;
}
/*
================================================
Multiple Steps Form
================================================
*/
  #regForm {
    margin: 20px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  h2 {
    text-align: center;  
  }
  
  input,
  #regForm select {
    padding: 5px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
    margin-bottom: 10px;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: var(--pry-txt-clr);
  }

.summary-box{
    border-radius: 0.5rem;
    padding: 1rem 0rem;
    border: 0.1px solid rgb(195, 226, 246);
    height: 70px;
    width: 90%;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    box-shadow: 0.1px 0.1px 6px 0.2px rgba(224, 235, 238, 0.993), 0.1px 0.2px 0.2px 0.2px rgba(224, 235, 238, 0.993);
}

.summary-box > p:first-of-type{
    width: 200px;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #535353;
}
.summary-box > p:last-of-type{
    width: fit-content;
    margin-bottom: 0.3rem;
    padding: 0.3rem 1rem;
    text-align: center;
    color: #b1adad;
}

/* .blog-page-section{
	position:relative;
	padding:100px 0px 100px;
}

.blog-page-section .inner-container{
	position:relative;
	margin-bottom:50px;
	border-bottom:1px solid #d5d5d5;
} */

/*News Block Three*/

.auto-container{
	position:static;
	max-width:1350px;
	padding:0px 15px;
	margin:0 auto;
}

.news-block-three{
	position:relative;
	margin-bottom:80px;
}

.news-block-three .inner-box{
	position:relative;
}

.news-block-three .inner-box .image{
	position:relative;
	background:#0b0b0b;
	display:block;
	overflow:hidden;
}

.news-block-three .inner-box .image img{
	position:relative;
	width:100%;
	display:block;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}

.news-block-three .inner-box .image img:hover{
	opacity:0.50;
	-webkit-transform:scale(1.05,1.05);
	-ms-transform:scale(1.05,1.05);
	-o-transform:scale(1.05,1.05);
	-moz-transform:scale(1.05,1.05);
	transform:scale(1.05,1.05);		
}

.news-block-three .inner-box .lower-content{
	position:relative;
	padding-top:35px;
}

.news-block-three .inner-box .lower-content .post-date{
	position:relative;
	color: var(--sc-clr);
	font-size:17px;
	font-weight:700;
	line-height:1.2em;
	margin-bottom:8px;
	font-family: 'Montserrat', sans-serif;
}

.news-block-three .inner-box .lower-content h3{
	position:relative;
	font-size:22px;
	font-weight:700;
	line-height:1.2em;
	margin-bottom:12px;
}

.news-block-three .inner-box .lower-content h3 a{
	color:#242424;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.news-block-three .inner-box .lower-content h3 a:hover{
	color: var(--sc-clr);
	text-decoration:underline;
}

.news-block-three .inner-box .lower-content .text{
	position:relative;
	color:#797979;
	font-size:16px;
	line-height:1.8em;
	margin-bottom:25px;
}

/*** 

====================================================================
	Styled Pagination
====================================================================

***/

.styled-pagination{
	position:relative;
}

.styled-pagination li{
	position:relative;
	display:inline-block;
	margin:0px 6px 20px 0px;
}

.styled-pagination li a{
	position:relative;
	display:inline-block;
	line-height:40px;
	height:44px;
	font-size:16px;
	min-width:44px;
	color: var(--sc-clr);
	font-weight:700;
	text-align:center;
	background:#ffffff;
	border-radius:50%;
	border:2px solid var(--sc-clr);
	text-transform:capitalize;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	font-family: 'Open Sans', sans-serif;
}

.styled-pagination li a:hover,
.styled-pagination li a.active{
	color:#ffffff;
	border-color:var(--sc-clr);
	background-color:var(--sc-clr);
}

/*** 

====================================================================
	Sidebar Page Container
====================================================================

***/

.sidebar-page-container{
	position:relative;
	padding:100px 0px 100px;
}

.sidebar-page-container .inner-container{
	position:relative;
	margin-bottom:50px;
	border-bottom:1px solid #d5d5d5;
}

.sidebar-page-container .content-side,
.sidebar-page-container .sidebar-side{
	margin-bottom:40px;
}

.sidebar-widget{
    position: relative;
    margin-bottom: 42px;
}

/*Sidebar Title*/

.sidebar-title{
    position: relative;
    margin-bottom:20px;
}

.sidebar-title h2{
    font-size: 22px;
    color: #242424;
    font-weight: 700;
    line-height: 1.2em;
	display:inline-block;
    text-transform: capitalize;
}

.sidebar-title h2:after{
	position:absolute;
	content:'';
	left:105%;
	bottom:4px;
	width:35px;
	height:2px;
	background-color:var(--sc-clr);
}

/*Search Box Widget*/

.sidebar .search-box .form-group{
	position:relative;
	margin:0px;	
}

.sidebar .search-box .form-group input[type="text"],
.sidebar .search-box .form-group input[type="search"]{
	position:relative;
	line-height:30px;
	padding:10px 50px 10px 20px;
	border:1px solid #d3d3d3;
	background:none;
	display:block;
	font-size:15px;
	width:100%;
	height:52px;
	color:#909090;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.sidebar .search-box .form-group button{
	position:absolute;
	right:0px;
	top:0px;
	height:52px;
	width:60px;
	display:block;
	font-size:16px;
	color:#4c4c4c;
	line-height:100%;
	font-weight:normal;
	background:none;
}

/*Blog Category*/

.cat-list{
	position:relative;
}

.cat-list li{
	position:relative;
}

.cat-list li:last-child a{
	border:none;
}

.cat-list li a{
	position:relative;
	color:#797979;
	font-size:16px;
	font-weight:400;
	padding-bottom:10px;
	margin-bottom:10px;
	display:block;
	text-transform:capitalize;
	border-bottom:1px solid #e6e6e6;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	font-family: 'Montserrat', sans-serif;
}

.cat-list li a::after{
	position:absolute;
	content:'\f105';
	right:0px;
	top:0px;
	color:#c8c8c8;
    font-size:14px;
    font-weight: 900;
	font-family: 'Font Awesome 5 Free';
}

.cat-list li a:hover{
	color:var(--sc-clr);
}

/*Post Widget*/

.sidebar .popular-posts .post{
	position:relative;
	font-size:14px;
	color:#666666;
	padding:0px 0px;
	margin-bottom:22px;
	padding-bottom:15px;
	border-bottom:1px solid #e1e1e1;
}

.sidebar .popular-posts .post:last-child{
	margin-bottom:0px;
}

.sidebar .popular-posts .post .text{
	position:relative;
	top:-4px;
	font-size:15px;
	margin:0px 0px 0px;
	font-weight:600;
	color:#242424;
	line-height:1.4em;
	text-transform:capitalize;
	font-family: 'Open Sans', sans-serif;
}

.sidebar .popular-posts .post .text a{
	color:#242424;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.sidebar .popular-posts .post a,
.sidebar .popular-posts .post a:hover{
	color:var(--sc-clr);
}

.sidebar .popular-posts .post-info{
	font-size:15px;
	color:#9a9a9a;
	font-weight:700;
	font-family: 'Open Sans', sans-serif;
}


/*Popular Tags*/

.sidebar .popular-tags a{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:6px 20px 6px;
	margin:0px 6px 10px 0px;
	color:#a6a6a6;
	text-align:center;
	font-size:15px;
	background:none;
	border:1px solid #e4e4e4;
	text-transform:capitalize;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
}

.sidebar .popular-tags a:hover{
	border-color:var(--sc-clr);
	background-color:var(--sc-clr);
	color:#ffffff;	
}

.blog-classic.padding-right,
.blog-single.padding-right{
	padding-right:30px;
}

.blog-single .news-block-four{
	margin-bottom:40px;
}

/*News Block Four*/

.news-block-four{
	position:relative;
	margin-bottom:100px;
}

.news-block-four:last-child{
	margin-bottom:0px;
}

.news-block-four .inner-box{
	position:relative;
}

.news-block-four .inner-box .image{
	position:relative;
	display:block;
	background:#0b0b0b;
	overflow:hidden;
}

.news-block-four .inner-box .image img{
	position:relative;
	width:100%;
	display:block;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}

.news-block-four .inner-box .image img:hover{
	opacity:0.50;
	-webkit-transform:scale(1.05,1.05);
	-ms-transform:scale(1.05,1.05);
	-o-transform:scale(1.05,1.05);
	-moz-transform:scale(1.05,1.05);
	transform:scale(1.05,1.05);	
}

.news-block-four .inner-box .lower-content{
	position:relative;
	padding-top:30px;
}

.news-block-four .inner-box .lower-content .upper-box{
	position:relative;
	padding-bottom:18px;
	border-bottom:1px solid #e4e4e4;
}

.news-block-four .inner-box .lower-content .upper-box .post-date{
	position:relative;
	color:var(--sc-clr);
	font-size:17px;
	font-weight:700;
	margin-bottom:4px;
	font-family: 'Montserrat', sans-serif;
}

.news-block-four .inner-box .lower-content .upper-box h3{
	position:relative;
	color:#242424;
	font-size:22px;
	font-weight:700;
	line-height:1.2em;
	font-family: 'Montserrat', sans-serif;
}

.news-block-four .inner-box .lower-content .upper-box h3 a{
	color:#242424;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.news-block-four .inner-box .lower-content .upper-box h3 a:hover{
	color:var(--sc-clr);
	text-decoration:underline;
}

.news-block-four .inner-box .lower-content .lower-box{
	position:relative;
	padding-top:15px;
}

.news-block-four .inner-box .lower-content .lower-box .post-info{
	position:relative;
	margin-bottom:20px;
}

.news-block-four .inner-box .lower-content .lower-box .post-info li{
	position:relative;
	color:#b8b8b8;
	font-size:15px;
	padding-right:10px;
	margin-right:10px;
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
}

.news-block-four .inner-box .lower-content .lower-box .post-info li:after{
	position:absolute;
	content:'/';
	right:-5px;
	top:1px;
	color:#b8b8b8;
}

.news-block-four .inner-box .lower-content .lower-box .post-info li:last-child::after{
	display:none;
}

.news-block-four .inner-box .lower-content .lower-box .text{
	position:relative;
	color:#797979;
	font-size:16px;
	line-height:1.8em;
	margin-bottom:30px;
}

.news-block-four .inner-box .lower-content .lower-box .text p{
	position:relative;
	color:#797979;
	font-size:16px;
	margin-bottom:20px;
}

.news-block-four .inner-box .lower-content .lower-box .text p a{
	color:#a175aa;
}

.news-block-four .inner-box .lower-content .lower-box .text h4{
	position:relative;
	color:#242424;
	font-size:22px;
	font-weight:700;
	margin-bottom:20px;
}

.news-block-four .inner-box .lower-content .lower-box .text .two-column{
	margin-bottom:15px;
}

/*** 

====================================================================
	Comments Area
====================================================================

 ***/

 .sidebar-page-container .comments-area{
	position:relative;
	margin-bottom:55px;
}

.sidebar-page-container .group-title{
	position:relative;
	margin-bottom:25px;
}

.sidebar-page-container .group-title h2{
	position:relative;
	font-size:22px;
	color:#242424;
	font-weight:700;
	padding-bottom:0px;
}

.sidebar-page-container .comments-area .inner-box{
	position:relative;
	border:1px solid #eeeeee;
}

.sidebar-page-container .comments-area .comment-box{
	position:relative;
	padding:25px 25px 25px;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
	border-bottom:1px solid #ebe8e8;
}

.sidebar-page-container .comments-area .comment-box:nth-child(2n + 0){
	background-color:#fcfcfc;
}

.sidebar-page-container .comments-area .comment-box:last-child{
	border-bottom:0px;
}

.sidebar-page-container .comments-area .comment{
	position:relative;
	font-size:14px;
	min-height:98px;
	padding:0px 0px 0px 100px;
}

.sidebar-page-container .comments-area .comment.reply-comment{
	margin-left:100px;
	margin-top:45px;
}

.sidebar-page-container .comments-area .comment .comment-inner{
	position:relative;
}

.sidebar-page-container .comments-area .comment .comment-reply{
	position:absolute;
	right:0px;
	top:0px;
	color:var(--sc-clr);
	font-size:15px;
	font-weight:400;
	text-align:center;
	display:inline-block;
	text-transform:capitalize;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
}

.sidebar-page-container .comments-area .comment .comment-reply span{
	font-size:14px;
	margin-right:4px;
}

.sidebar-page-container .comments-area .comment-box .author-thumb{
	position:absolute;
	left:0px;
	top:0px;
	width:73px;
	overflow:hidden;
	margin-bottom:20px;
}

.sidebar-page-container .comments-area .comment-box .author-thumb img{
	width:75px;
	display:block;
}

.sidebar-page-container .comments-area .comment-info{
	color:#3e5773;
	line-height:24px;
	font-size:13px;	
}

.sidebar-page-container .comments-area .comment-box strong{
	font-size:15px;
	font-weight:700;
	color:#000000;
	line-height:16px;
	text-transform:capitalize;
	font-family: 'Montserrat', sans-serif;
}

.sidebar-page-container .comments-area .comment-box .text{
	color:#898989;
	font-size:16px;
    margin-top:5px;
    line-height: 1.7em;
	margin-bottom:10px;
}

.sidebar-page-container .comments-area .comment-time{
	position:relative;
	font-size:13px;
	color:var(--sc-clr);
}

.sidebar-page-container .comments-area .comment-box .theme-btn{
	padding:6px 27px;
}

.sidebar-page-container .comments-area .comment-box .post-info{
	position:relative;
}

.sidebar-page-container .comments-area .comment-box .post-info li{
	position:relative;
	padding-right:10px;
	line-height:1em;
	margin-right:10px;
	color:#aeaeae;
	border-right:1px solid #aeaeae;
	display:inline-block;
}

.sidebar-page-container .comments-area .comment-box .post-info li:last-child{
	border:0px;
}

/*** 

====================================================================
	Comment Form
====================================================================

 ***/

.comment-form{
	position:relative;
}

.comment-form .form-inner{
	position:relative;
	padding:50px 35px 40px;
	background-color:#f7f7f7;
	border:1px solid #eeeeee;
}

.comment-form .form-group{
	position:relative;
	margin-bottom:20px;
}

.comment-form .form-group input[type="text"],
.comment-form .form-group input[type="email"],
.comment-form .form-group select{
	position:relative;
	display:block;
	width:100%;
	line-height:33px;
	padding:10px 20px;
	height:45px;
	color:#a5a5a5;
	font-size:15px;
	font-weight:400;
	background-color:#ffffff;
	border:1px solid #eeeeee;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
	font-family: 'Montserrat', sans-serif;
}

.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group textarea:focus{
	border-color:var(--sc-clr);
}

.comment-form .form-group textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:20px 20px;
	color:#a5a5a5;
	height:170px;
	font-size:15px;
	resize:none;
	font-weight:400;
	background-color:#ffffff;
	border:1px solid #eeeeee;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
	font-family: 'Montserrat', sans-serif;
}

.comment-form button{
	margin-top:10px;
	padding:8px 30px 8px;
}

.project-title{
	position:relative;
	margin-bottom:90px;
}

.project-title h2{
	position:relative;
	color:#242424;
	font-size:60px;
	font-weight:700;
	line-height:1.1em;
}

.project-title h2 span{
	position:relative;
}

.project-title h2 span:after{
	position:absolute;
	content:'';
	left:0px;
	bottom:12px;
	width:100%;
	height:8px;
	z-index:-1;
	background-color:var(--sc-clr);
}
/*** 

====================================================================
	Faq Section
====================================================================

 ***/

 .faq-section{
	position:relative;
	padding:95px 0px 70px;
}

.faq-section .faq-title{
	position:relative;
	margin-bottom:40px;
}

.faq-section .faq-title h2{
	position:relative;
	color:var(--sc-clr);
	font-size:35px;
	font-weight:700;
	line-height:1.2em;
    margin-bottom:8px;
    text-align: left;
}

.faq-section .faq-title .text{
	position:relative;
	color:#000000;
	font-size:17px;
	font-weight:400;
}

/*Sidebar Search Form*/

.faq-search-box{
	position:relative;
	margin-top:30px;
    width: 100%;
	margin-bottom:70px;
}

.faq-search-box .form-group{
	position:relative;
	margin:0px;	
}

.faq-search-box .form-group input[type="text"],
.faq-search-box .form-group input[type="search"]{
	position:relative;
	line-height:28px;
	color:#222222;
	display:block;
	font-size:16px;
	width:100%;
	height:60px;
	border-radius:5px;
	padding:15px 15px 15px 20px;
	border:1px solid #e0e0e0;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.faq-search-box .form-group button{
	position:absolute;
	right:0px;
	top:0px;
	width:65px;
	height:60px;
	line-height:58px;
	text-align:center;
	display:block;
	font-size:22px;
	color:#c0c0c0;
	background:none;
	font-weight:normal;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.faq-search-box .form-group input:focus{
	border-color:var(--sc-clr);	
}

/*** 

====================================================================
	Accordion Style
====================================================================

***/

.accordion-box{
	position:relative;
}

.accordion-box .block{
	position: relative;
    margin-bottom:40px;
}

.accordion-box .block .acc-btn{
	position:relative;
	font-size:20px;
	cursor:pointer;
	line-height:30px;
	color: var(--sc-clr);
	font-weight:600;
	padding:0px 10px 0px 35px;
	transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
}
.accordion-box .block .icon-outer{
	position:absolute;
	left:-6px;
	top:0px;
	font-size:18px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

/* .accordion-box .block .icon-outer .icon{
    position: absolute;
    width: 28px;
    height: 28px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
} */

.accordion-box .block .icon-outer .icon-plus{
	opacity:1;
}

.accordion-box .block .icon-outer .icon-minus{
	opacity:0;
	font-weight:300;
}

.accordion-box .block .acc-btn.active .icon-outer .icon-minus{
	opacity:1;
	color:#242424;
}

.accordion-box .block .acc-btn.active .icon-outer .icon-plus{
	opacity:0;
}

.accordion-box .block .acc-content{
	position:relative;
	display:none;
}

.accordion-box .block .acc-content .content-text{
	padding-bottom:6px;
}

.accordion-box .block .acc-content.current{
	display:block;	
}
.accordion-box .block .content{
	position:relative;
	font-size:14px;
	padding:14px 30px 0px 35px;
}

.accordion-box .block .content .text{
	margin-bottom:20px;
	line-height:1.7em;
	font-size:17px;	
	color:#797979;
}

.accordion-box .block .content p:last-child{
	margin-bottom:0px;	
}

/*** 

====================================================================
	Faq Form Section
====================================================================

***/

.faq-form-section{
	position:relative;
	overflow:hidden;
	padding:85px 0px 0px;
	background-color:#f3f3f3;
	background-position:right bottom;
	background-repeat:no-repeat;
}

.faq-form-section h2{
	position:relative;
	color: var(--sc-clr);
	font-size:35px;
	font-weight:700;
	line-height:1.2em;
	margin-bottom:55px;
}

.faq-form-section .auto-container{
	position:relative;
}

.faq-form-section .form-outer{
	position:relative;
	max-width:870px;
	z-index:10;
	padding-bottom:100px;
}

.faq-form-section .form-group{
	position:relative;
	margin-bottom:30px;
}

.faq-form-section .form-group:last-child{
	margin-bottom:0px;
}

.faq-form-section .form-group input[type="text"],
.faq-form-section .form-group input[type="email"],
.faq-form-section .form-group select{
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:0px 0px 8px;
	color:#494747;
	border-bottom:2px solid #e3e3e3;
	height:46px;
	font-size:16px;
	background:none;
	font-weight:400;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
	font-family: 'Montserrat', sans-serif;
}

.faq-form-section .form-group input::-webkit-input-placeholder,
.faq-form-section .form-group textarea::-webkit-input-placeholder{
	color:rgba(112, 107, 107, 0.7);
}


.faq-form-section .form-group input[type="text"]:focus,
.faq-form-section .form-group input[type="email"]:focus,
.faq-form-section .form-group textarea:focus{
	border-color:var(--sc-clr);
}

.faq-form-section .form-group textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:0px 0px;
	/* color:#000000; */
	height:160px;
	background:none;
	resize:none;
	font-size:16px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	border-bottom:2px solid #e3e3e3;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}
tr {
    cursor: pointer;
    padding: 4px;
}
tr:nth-child(even) {
    background-color: rgb(149, 193, 211);
}

.btn {
    border: none;
    color: black;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 4px;
    cursor: pointer;
    border-radius: 32px;
    font-size: 18px;
    transition: 0.3s;
  }
  .btn:hover {
    border: 3px solid rgb(107, 156, 247);
    background-color: white;
    color: rgb(107, 156, 247);
  }
  .btn-small {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    transition: 0.3s;
  }
  .btn-small:hover {
    border: 2px solid rgb(107, 156, 247);
    background-color: white;
    color: rgb(107, 156, 247);
  }
  .btn-primary {
    background-color: rgb(107, 156, 247);
  }

  .to-right {
    float: right !important;
  }
  #cr-button {
   position: relative;
   left: 400px;
   top: 15px;
  }
.forgot-form{
    width: 50%;
    display: block;
    margin: auto;
}
.forgot-form p{
  margin-bottom: 30px;
} 
.forgot-form button{
    margin-bottom: 20px;
}
.forgot-form a:hover{
    text-decoration: underline;
    color: var(--sc-clr);
  }  