<style>
    @import url(./assets/css/general.css);

    :host {
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('./assets/images/slider/time.jpg') fixed;
        background-size: cover;
        color: var(--alt-clr);
        padding: 50px 0 40px !important;
    }
    h2 {
        color: var(--alt-clr);
    }
    ul {
        display: flex;
    }

    ul li {
        margin-right: 10px;
    }

    @media (max-width: 768px) {
        ul {
            justify-content: center;
        }
    }
</style>


<h2>Join Us Now</h2>
<p>Join us now and have access to valuable education and training that will lead to your career excellence</p>
<a href="registeration.html" class="btn2 mb-30" >Become a member</a>
<ul class="mb-5">
    <li><strong>Follow us on social media: </strong></li>
        <li><a href="https://twitter.com/ifma_nigeria"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/ifmanigeria/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://web.facebook.com/IFMANigeriaChapter?_rdc=1&_rdr"><i class="fab fa-facebook"></i></a>
        </li>
</ul>